<div class="row text-center">
  <div class="col">
    <h1>{{title}}</h1>
    <h2>{{accountant}}</h2>
  </div>
</div>

<div class="row text-center">
  <div class="col-6">
    <button class="btn btn-success" (click)="add()">&#43;</button>
  </div>
  <div class="col-6">
    <button class="btn btn-danger"  (click)="subtract()">&#8722;</button>
  </div>
</div>

<hr>

<div class="row text-center">
  <div class="col">
    <app-child></app-child>
  </div>
</div>

<hr>

<div class="row text-center">
  <div class="col">
    <app-grandchild></app-grandchild>
  </div>
</div> 


